/*-- [ Imports ] ----------------------------------------------------------------------------------------------*/
/* Links / Main theme colour */
/* Body Copy */
/* Call to action */
/* General information message box background */
/* Success message box background */
/* Error message box background */
/*-- [ Colour variable resets ] ----------------------------------------------------------------------------------------------*/
body {
  color: #0a0d00;
}
a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  color: #709500;
  text-decoration: none;
}
a:hover,
a:focus,
a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5,
a:hover h6 {
  color: #3d6200;
  text-decoration: none;
}
/*--[ Buttons ]--------------------------------------------------------------------------------*/
.button, input[type=submit], .button.alt {
  color: #fff;
  background: #81a611;
  background: -webkit-gradient(linear, left top, left bottom, from(#81a611), to(#5f8400));
  background: -webkit-linear-gradient(#81a611, #5f8400);
  background: -moz-linear-gradient(center top, #81a611 0%, #5f8400 100%);
  background: -moz-gradient(center top, #81a611 0%, #5f8400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#81a611,endColorstr=#5f8400);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#81a611, endColorstr=#5f8400)";
  border-color: #1b4000;
  box-shadow: 0 0 2px 0 #3d6200;
  -webkit-box-shadow: 0 0 2px 0 #3d6200;
  -moz-box-shadow: 0 0 2px 0 #3d6200;
  -o-box-shadow: 0 0 2px 0 #3d6200;
  text-shadow: 0 1px 0 #3d6200;
}
.button:hover, input[type=submit]:hover, .button.alt:hover {
  background: #81a611;
  background: -webkit-gradient(linear, left top, left bottom, from(#81a611), to(#6f9400));
  background: -webkit-linear-gradient(#81a611, #6f9400);
  background: -moz-linear-gradient(center top, #81a611 0%, #6f9400 100%);
  background: -moz-gradient(center top, #81a611 0%, #6f9400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#81a611,endColorstr=#6f9400);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#81a611, endColorstr=#6f9400)";
  box-shadow: 0 0 2px 0 #2c5100;
  -webkit-box-shadow: 0 0 2px 0 #2c5100;
  -moz-box-shadow: 0 0 2px 0 #2c5100;
  -o-box-shadow: 0 0 2px 0 #2c5100;
  color: #232f00;
  color: #fff;
}
.button.alt {
  background: #d39c33;
  background: -webkit-gradient(linear, left top, left bottom, from(#d39c33), to(#b17a11));
  background: -webkit-linear-gradient(#d39c33, #b17a11);
  background: -moz-linear-gradient(center top, #d39c33 0%, #b17a11 100%);
  background: -moz-gradient(center top, #d39c33 0%, #b17a11 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d39c33,endColorstr=#b17a11);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d39c33, endColorstr=#b17a11)";
  border: 1px solid #a06900;
  color: #3a2600;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  color: #fff;
}
.button.alt:hover {
  background: #e4ad44;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4ad44), to(#c28b22));
  background: -webkit-linear-gradient(#e4ad44, #c28b22);
  background: -moz-linear-gradient(center top, #e4ad44 0%, #c28b22 100%);
  background: -moz-gradient(center top, #e4ad44 0%, #c28b22 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e4ad44,endColorstr=#c28b22);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e4ad44, endColorstr=#c28b22)";
  color: #3a2600;
  color: #fff;
}
/*--[ Header ]--------------------------------------------------------------------------------*/
#header nav.main-navigation {
  border-color: #3d6200;
  background: #4e7300;
  filter: none;
  /* The mini cart */

}
#header nav.main-navigation a {
  background: #5f8400;
  background: -webkit-gradient(linear, left top, left bottom, from(#5f8400), to(#4e7300));
  background: -webkit-linear-gradient(#5f8400, #4e7300);
  background: -moz-linear-gradient(center top, #5f8400 0%, #4e7300 100%);
  background: -moz-gradient(center top, #5f8400 0%, #4e7300 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5f8400,endColorstr=#4e7300);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5f8400, endColorstr=#4e7300)";
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  -o-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  border-color: #3d6200;
  color: #fff;
  text-shadow: 0 1px 0 #3d6200;
}
#header nav.main-navigation a:hover {
  color: #fff;
}
#header nav.main-navigation ul li {
  border-right-color: #3d6200;
  /* Remove some handheld styling */

  /* End removals */

  /* Depth 1 */

}
#header nav.main-navigation ul li:first-child {
  border-color: #3d6200;
}
#header nav.main-navigation ul li:nth-child(2n) {
  border-color: #3d6200;
}
#header nav.main-navigation ul li a:hover {
  border-top-color: #709500;
}
#header nav.main-navigation ul li:hover > a, #header nav.main-navigation ul li.current-menu-item > a {
  border-top-color: #709500;
  color: #fff;
}
#header nav.main-navigation ul li ul.sub-menu, #header nav.main-navigation ul li ul.children, #header nav.main-navigation ul li ul.cart_list {
  background-color: #5f8400;
  border-color: #3d6200 !important;
}
#header nav.main-navigation ul li ul.sub-menu a, #header nav.main-navigation ul li ul.children a, #header nav.main-navigation ul li ul.cart_list a {
  background: #4e7300 !important;
}
#header nav.main-navigation ul li ul.sub-menu li, #header nav.main-navigation ul li ul.children li, #header nav.main-navigation ul li ul.cart_list li {
  border-color: #3d6200;
}
#header nav.main-navigation ul li ul.sub-menu li a, #header nav.main-navigation ul li ul.children li a, #header nav.main-navigation ul li ul.cart_list li a {
  border-color: #3d6200;
}
#header nav.main-navigation ul li ul.sub-menu li ul.sub-menu,
#header nav.main-navigation ul li ul.children li ul.sub-menu,
#header nav.main-navigation ul li ul.cart_list li ul.sub-menu,
#header nav.main-navigation ul li ul.sub-menu li ul.children,
#header nav.main-navigation ul li ul.children li ul.children,
#header nav.main-navigation ul li ul.cart_list li ul.children {
  background-color: #81a611;
  border-color: #3d6200;
}
#header nav.main-navigation ul li ul.sub-menu li ul.sub-menu li,
#header nav.main-navigation ul li ul.children li ul.sub-menu li,
#header nav.main-navigation ul li ul.cart_list li ul.sub-menu li,
#header nav.main-navigation ul li ul.sub-menu li ul.children li,
#header nav.main-navigation ul li ul.children li ul.children li,
#header nav.main-navigation ul li ul.cart_list li ul.children li {
  border-color: #3d6200;
}
#header nav.main-navigation ul li ul.sub-menu li:first-child ul.sub-menu,
#header nav.main-navigation ul li ul.children li:first-child ul.sub-menu,
#header nav.main-navigation ul li ul.cart_list li:first-child ul.sub-menu,
#header nav.main-navigation ul li ul.sub-menu li:first-child ul.children,
#header nav.main-navigation ul li ul.children li:first-child ul.children,
#header nav.main-navigation ul li ul.cart_list li:first-child ul.children {
  background-color: #5f8400;
}
#header nav.main-navigation ul.mini-cart li {
  /* The cart contents drop down */

}
#header nav.main-navigation ul.mini-cart li a {
  border-color: #3d6200;
}
#header nav.main-navigation ul.mini-cart li:last-child {
  border-color: #3d6200;
}
#header nav.main-navigation ul.mini-cart li ul.cart_list {
  background-color: #6f9400;
  /* The totals */

  /* The buttons */

}
#header nav.main-navigation ul.mini-cart li ul.cart_list li {
  border-top-color: #3d6200;
}
#header nav.main-navigation ul.mini-cart li ul.cart_list li.cart_list_product {
  background-color: #759a05;
}
#header nav.main-navigation ul.mini-cart li ul.cart_list li.cart_list_product img {
  box-shadow: 0 0 2px 0 #2c5100;
  -webkit-box-shadow: 0 0 2px 0 #2c5100;
  -moz-box-shadow: 0 0 2px 0 #2c5100;
  -o-box-shadow: 0 0 2px 0 #2c5100;
}
#header nav.main-navigation ul.mini-cart li ul.cart_list li.total {
  border-color: #5f8400;
  background-color: #6f9400;
}
#header nav.main-navigation ul.mini-cart li ul.cart_list li.buttons .button {
  color: #3d5100;
  background: #81a611;
  background: -webkit-gradient(linear, left top, left bottom, from(#81a611), to(#5f8400));
  background: -webkit-linear-gradient(#81a611, #5f8400);
  background: -moz-linear-gradient(center top, #81a611 0%, #5f8400 100%);
  background: -moz-gradient(center top, #81a611 0%, #5f8400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#81a611,endColorstr=#5f8400);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#81a611, endColorstr=#5f8400)";
  border: 1px solid #2c5100;
  box-shadow: 0 0 2px 0 #3d6200;
  -webkit-box-shadow: 0 0 2px 0 #3d6200;
  -moz-box-shadow: 0 0 2px 0 #3d6200;
  -o-box-shadow: 0 0 2px 0 #3d6200;
}
#header .mini-cart a.cart-parent span {
  background-image: url(../images/icons/ico-cart-light.png);
}
@media only screen and (min-width: 768px) {
  /*--[ Header ]--------------------------------------------------------------------------------*/
  #header .top {
    background-color: #0a2f00;
  }
  #header .description h1, #header .description p {
    color: #709500;
    text-shadow: 0 1px 0 #000000;
  }
  #header nav.customer-navigation ul li ul.sub-menu, #header nav.customer-navigation ul li ul.children {
    background-color: #0a2f00;
  }
  #header nav.customer-navigation ul li ul.sub-menu li a, #header nav.customer-navigation ul li ul.children li a {
    color: #709500;
  }
  #header .main-nav {
    border-top-color: #000000;
    background: #5f8400;
    background: -webkit-gradient(linear, left top, left bottom, from(#5f8400), to(#4e7300));
    background: -webkit-linear-gradient(#5f8400, #4e7300);
    background: -moz-linear-gradient(center top, #5f8400 0%, #4e7300 100%);
    background: -moz-gradient(center top, #5f8400 0%, #4e7300 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5f8400,endColorstr=#4e7300);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5f8400, endColorstr=#4e7300)";
    border-bottom: 1px solid #3d6200;
    -webkit-box-shadow: 0 0 0.27em rgba(0, 0, 0, 0.6), 0 0 0 10px rgba(0, 0, 0, 0.05), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 0 0.27em rgba(0, 0, 0, 0.6), 0 0 0 10px rgba(0, 0, 0, 0.05), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0.27em rgba(0, 0, 0, 0.6), 0 0 0 10px rgba(0, 0, 0, 0.05), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  #header nav.main-navigation {
    background: none;
    /* The mini cart */
  
  }
  #header nav.main-navigation ul li {
    border-right: 1px solid #4e7300;
    /* Remove some handheld styling */
  
    /* End removals */
  
    /* Depth 1 */
  
  }
  #header nav.main-navigation ul li:first-child {
    border-left: 1px solid #4e7300;
  }
  #header nav.main-navigation ul li:nth-child(2n) {
    border-right: 1px solid #4e7300;
  }
  #header nav.main-navigation ul li a {
    box-shadow: inset 0 0 0 1px #6b9000;
    -webkit-box-shadow: inset 0 0 0 1px #6b9000;
    -moz-box-shadow: inset 0 0 0 1px #6b9000;
    -o-box-shadow: inset 0 0 0 1px #6b9000;
  }
  #header nav.main-navigation ul li a:hover {
    border-top: 0.2em solid #709500;
    color: #fff;
  }
  #header nav.main-navigation ul li:hover > a, #header nav.main-navigation ul li.current-menu-item > a {
    border-top: 0.2em solid #709500;
    background: #709500;
  }
  #header nav.main-navigation ul li ul.sub-menu, #header nav.main-navigation ul li ul.children, #header nav.main-navigation ul li ul.cart_list {
    background-color: #6f9400;
  }
  #header nav.main-navigation ul li ul.sub-menu li ul.sub-menu,
  #header nav.main-navigation ul li ul.children li ul.sub-menu,
  #header nav.main-navigation ul li ul.cart_list li ul.sub-menu,
  #header nav.main-navigation ul li ul.sub-menu li ul.children,
  #header nav.main-navigation ul li ul.children li ul.children,
  #header nav.main-navigation ul li ul.cart_list li ul.children {
    background-color: #719601;
  }
  #header nav.main-navigation ul li ul.sub-menu li:first-child ul.sub-menu,
  #header nav.main-navigation ul li ul.children li:first-child ul.sub-menu,
  #header nav.main-navigation ul li ul.cart_list li:first-child ul.sub-menu,
  #header nav.main-navigation ul li ul.sub-menu li:first-child ul.children,
  #header nav.main-navigation ul li ul.children li:first-child ul.children,
  #header nav.main-navigation ul li ul.cart_list li:first-child ul.children {
    background-color: #6f9400;
  }
  #header nav.main-navigation ul li ul.sub-menu li a, #header nav.main-navigation ul li ul.children li a, #header nav.main-navigation ul li ul.cart_list li a {
    background: none !important;
  }
  #header nav.main-navigation ul.mini-cart a {
    color: #fff !important;
  }
  #header nav.main-navigation ul.mini-cart li {
    /* The cart contents drop down */
  
  }
  #header nav.main-navigation ul.mini-cart li:last-child {
    border-left: 1px solid #4e7300;
    border-right: 1px solid #4e7300;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list {
    background-color: #6f9400;
    /* The totals */
  
    /* The buttons */
  
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li {
    border-top: 1px solid #5f8400;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li.cart_list_product {
    background: #759a05;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -o-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li.cart_list_product img {
    box-shadow: 0 0 2px 0 #2c5100;
    -webkit-box-shadow: 0 0 2px 0 #2c5100;
    -moz-box-shadow: 0 0 2px 0 #2c5100;
    -o-box-shadow: 0 0 2px 0 #2c5100;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li.total {
    border: 1px solid #5f8400;
    background: #6f9400;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li.buttons {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -o-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li.buttons .button {
    color: #3d5100;
    background: #b4d944;
    background: -webkit-gradient(linear, left top, left bottom, from(#b4d944), to(#5f8400));
    background: -webkit-linear-gradient(#b4d944, #5f8400);
    background: -moz-linear-gradient(center top, #b4d944 0%, #5f8400 100%);
    background: -moz-gradient(center top, #b4d944 0%, #5f8400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b4d944,endColorstr=#5f8400);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b4d944, endColorstr=#5f8400)";
    border: 1px solid #2c5100;
    box-shadow: 0 0 2px 0 #3d6200;
    -webkit-box-shadow: 0 0 2px 0 #3d6200;
    -moz-box-shadow: 0 0 2px 0 #3d6200;
    -o-box-shadow: 0 0 2px 0 #3d6200;
    color: #fff;
    text-shadow: 0 1px 0 #3d6200;
  }
}
.ie8 #header .main-nav, .ie7 #header .main-nav {
  background: #5f8400;
}
