/*-- [ Imports ] ----------------------------------------------------------------------------------------------*/
/* Links / Main theme colour */
/* Body Copy */
/* Call to action */
/* General information message box background */
/* Success message box background */
/* Error message box background */
/*-- [ Colour variable resets ] ----------------------------------------------------------------------------------------------*/
body {
  color: #3e3d3e;
}
a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  color: #8c62a1;
  text-decoration: none;
}
a:hover,
a:focus,
a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5,
a:hover h6 {
  color: #592f6e;
  text-decoration: none;
}
/*--[ Buttons ]--------------------------------------------------------------------------------*/
.button, input[type=submit], .button.alt {
  color: #fff;
  background: #9d73b2;
  background: -webkit-gradient(linear, left top, left bottom, from(#9d73b2), to(#7b5190));
  background: -webkit-linear-gradient(#9d73b2, #7b5190);
  background: -moz-linear-gradient(center top, #9d73b2 0%, #7b5190 100%);
  background: -moz-gradient(center top, #9d73b2 0%, #7b5190 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9d73b2,endColorstr=#7b5190);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9d73b2, endColorstr=#7b5190)";
  border-color: #370d4c;
  box-shadow: 0 0 2px 0 #592f6e;
  -webkit-box-shadow: 0 0 2px 0 #592f6e;
  -moz-box-shadow: 0 0 2px 0 #592f6e;
  -o-box-shadow: 0 0 2px 0 #592f6e;
  text-shadow: 0 1px 0 #592f6e;
}
.button:hover, input[type=submit]:hover, .button.alt:hover {
  background: #9d73b2;
  background: -webkit-gradient(linear, left top, left bottom, from(#9d73b2), to(#8b61a0));
  background: -webkit-linear-gradient(#9d73b2, #8b61a0);
  background: -moz-linear-gradient(center top, #9d73b2 0%, #8b61a0 100%);
  background: -moz-gradient(center top, #9d73b2 0%, #8b61a0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9d73b2,endColorstr=#8b61a0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9d73b2, endColorstr=#8b61a0)";
  box-shadow: 0 0 2px 0 #481e5d;
  -webkit-box-shadow: 0 0 2px 0 #481e5d;
  -moz-box-shadow: 0 0 2px 0 #481e5d;
  -o-box-shadow: 0 0 2px 0 #481e5d;
  color: #4f4f4f;
  color: #fff;
}
.button.alt {
  background: #d39c33;
  background: -webkit-gradient(linear, left top, left bottom, from(#d39c33), to(#b17a11));
  background: -webkit-linear-gradient(#d39c33, #b17a11);
  background: -moz-linear-gradient(center top, #d39c33 0%, #b17a11 100%);
  background: -moz-gradient(center top, #d39c33 0%, #b17a11 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d39c33,endColorstr=#b17a11);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d39c33, endColorstr=#b17a11)";
  border: 1px solid #a06900;
  color: #3a2600;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  color: #fff;
}
.button.alt:hover {
  background: #e4ad44;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4ad44), to(#c28b22));
  background: -webkit-linear-gradient(#e4ad44, #c28b22);
  background: -moz-linear-gradient(center top, #e4ad44 0%, #c28b22 100%);
  background: -moz-gradient(center top, #e4ad44 0%, #c28b22 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e4ad44,endColorstr=#c28b22);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e4ad44, endColorstr=#c28b22)";
  color: #3a2600;
  color: #fff;
}
/*--[ Header ]--------------------------------------------------------------------------------*/
#header nav.main-navigation {
  border-color: #592f6e;
  background: #6a407f;
  filter: none;
  /* The mini cart */

}
#header nav.main-navigation a {
  background: #7b5190;
  background: -webkit-gradient(linear, left top, left bottom, from(#7b5190), to(#6a407f));
  background: -webkit-linear-gradient(#7b5190, #6a407f);
  background: -moz-linear-gradient(center top, #7b5190 0%, #6a407f 100%);
  background: -moz-gradient(center top, #7b5190 0%, #6a407f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b5190,endColorstr=#6a407f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b5190, endColorstr=#6a407f)";
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  -o-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  border-color: #592f6e;
  color: #fff;
  text-shadow: 0 1px 0 #592f6e;
}
#header nav.main-navigation a:hover {
  color: #fff;
}
#header nav.main-navigation ul li {
  border-right-color: #592f6e;
  /* Remove some handheld styling */

  /* End removals */

  /* Depth 1 */

}
#header nav.main-navigation ul li:first-child {
  border-color: #592f6e;
}
#header nav.main-navigation ul li:nth-child(2n) {
  border-color: #592f6e;
}
#header nav.main-navigation ul li a:hover {
  border-top-color: #8c62a1;
}
#header nav.main-navigation ul li:hover > a, #header nav.main-navigation ul li.current-menu-item > a {
  border-top-color: #8c62a1;
  color: #fff;
}
#header nav.main-navigation ul li ul.sub-menu, #header nav.main-navigation ul li ul.children, #header nav.main-navigation ul li ul.cart_list {
  background-color: #7b5190;
  border-color: #592f6e !important;
}
#header nav.main-navigation ul li ul.sub-menu a, #header nav.main-navigation ul li ul.children a, #header nav.main-navigation ul li ul.cart_list a {
  background: #6a407f !important;
}
#header nav.main-navigation ul li ul.sub-menu li, #header nav.main-navigation ul li ul.children li, #header nav.main-navigation ul li ul.cart_list li {
  border-color: #592f6e;
}
#header nav.main-navigation ul li ul.sub-menu li a, #header nav.main-navigation ul li ul.children li a, #header nav.main-navigation ul li ul.cart_list li a {
  border-color: #592f6e;
}
#header nav.main-navigation ul li ul.sub-menu li ul.sub-menu,
#header nav.main-navigation ul li ul.children li ul.sub-menu,
#header nav.main-navigation ul li ul.cart_list li ul.sub-menu,
#header nav.main-navigation ul li ul.sub-menu li ul.children,
#header nav.main-navigation ul li ul.children li ul.children,
#header nav.main-navigation ul li ul.cart_list li ul.children {
  background-color: #9d73b2;
  border-color: #592f6e;
}
#header nav.main-navigation ul li ul.sub-menu li ul.sub-menu li,
#header nav.main-navigation ul li ul.children li ul.sub-menu li,
#header nav.main-navigation ul li ul.cart_list li ul.sub-menu li,
#header nav.main-navigation ul li ul.sub-menu li ul.children li,
#header nav.main-navigation ul li ul.children li ul.children li,
#header nav.main-navigation ul li ul.cart_list li ul.children li {
  border-color: #592f6e;
}
#header nav.main-navigation ul li ul.sub-menu li:first-child ul.sub-menu,
#header nav.main-navigation ul li ul.children li:first-child ul.sub-menu,
#header nav.main-navigation ul li ul.cart_list li:first-child ul.sub-menu,
#header nav.main-navigation ul li ul.sub-menu li:first-child ul.children,
#header nav.main-navigation ul li ul.children li:first-child ul.children,
#header nav.main-navigation ul li ul.cart_list li:first-child ul.children {
  background-color: #7b5190;
}
#header nav.main-navigation ul.mini-cart li {
  /* The cart contents drop down */

}
#header nav.main-navigation ul.mini-cart li a {
  border-color: #592f6e;
}
#header nav.main-navigation ul.mini-cart li:last-child {
  border-color: #592f6e;
}
#header nav.main-navigation ul.mini-cart li ul.cart_list {
  background-color: #8b61a0;
  /* The totals */

  /* The buttons */

}
#header nav.main-navigation ul.mini-cart li ul.cart_list li {
  border-top-color: #592f6e;
}
#header nav.main-navigation ul.mini-cart li ul.cart_list li.cart_list_product {
  background-color: #9167a6;
}
#header nav.main-navigation ul.mini-cart li ul.cart_list li.cart_list_product img {
  box-shadow: 0 0 2px 0 #481e5d;
  -webkit-box-shadow: 0 0 2px 0 #481e5d;
  -moz-box-shadow: 0 0 2px 0 #481e5d;
  -o-box-shadow: 0 0 2px 0 #481e5d;
}
#header nav.main-navigation ul.mini-cart li ul.cart_list li.total {
  border-color: #7b5190;
  background-color: #8b61a0;
}
#header nav.main-navigation ul.mini-cart li ul.cart_list li.buttons .button {
  color: #606060;
  background: #9d73b2;
  background: -webkit-gradient(linear, left top, left bottom, from(#9d73b2), to(#7b5190));
  background: -webkit-linear-gradient(#9d73b2, #7b5190);
  background: -moz-linear-gradient(center top, #9d73b2 0%, #7b5190 100%);
  background: -moz-gradient(center top, #9d73b2 0%, #7b5190 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9d73b2,endColorstr=#7b5190);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9d73b2, endColorstr=#7b5190)";
  border: 1px solid #481e5d;
  box-shadow: 0 0 2px 0 #592f6e;
  -webkit-box-shadow: 0 0 2px 0 #592f6e;
  -moz-box-shadow: 0 0 2px 0 #592f6e;
  -o-box-shadow: 0 0 2px 0 #592f6e;
}
#header .mini-cart a.cart-parent span {
  background-image: url(../images/icons/ico-cart-light.png);
}
@media only screen and (min-width: 768px) {
  /*--[ Header ]--------------------------------------------------------------------------------*/
  #header .top {
    background-color: #26003b;
  }
  #header .description h1, #header .description p {
    color: #8c62a1;
    text-shadow: 0 1px 0 #000000;
  }
  #header nav.customer-navigation ul li ul.sub-menu, #header nav.customer-navigation ul li ul.children {
    background-color: #26003b;
  }
  #header nav.customer-navigation ul li ul.sub-menu li a, #header nav.customer-navigation ul li ul.children li a {
    color: #8c62a1;
  }
  #header .main-nav {
    border-top-color: #000000;
    background: #7b5190;
    background: -webkit-gradient(linear, left top, left bottom, from(#7b5190), to(#6a407f));
    background: -webkit-linear-gradient(#7b5190, #6a407f);
    background: -moz-linear-gradient(center top, #7b5190 0%, #6a407f 100%);
    background: -moz-gradient(center top, #7b5190 0%, #6a407f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b5190,endColorstr=#6a407f);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b5190, endColorstr=#6a407f)";
    border-bottom: 1px solid #592f6e;
    -webkit-box-shadow: 0 0 0.27em rgba(0, 0, 0, 0.6), 0 0 0 10px rgba(0, 0, 0, 0.05), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 0 0.27em rgba(0, 0, 0, 0.6), 0 0 0 10px rgba(0, 0, 0, 0.05), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0.27em rgba(0, 0, 0, 0.6), 0 0 0 10px rgba(0, 0, 0, 0.05), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  #header nav.main-navigation {
    background: none;
    /* The mini cart */
  
  }
  #header nav.main-navigation ul li {
    border-right: 1px solid #6a407f;
    /* Remove some handheld styling */
  
    /* End removals */
  
    /* Depth 1 */
  
  }
  #header nav.main-navigation ul li:first-child {
    border-left: 1px solid #6a407f;
  }
  #header nav.main-navigation ul li:nth-child(2n) {
    border-right: 1px solid #6a407f;
  }
  #header nav.main-navigation ul li a {
    box-shadow: inset 0 0 0 1px #875d9c;
    -webkit-box-shadow: inset 0 0 0 1px #875d9c;
    -moz-box-shadow: inset 0 0 0 1px #875d9c;
    -o-box-shadow: inset 0 0 0 1px #875d9c;
  }
  #header nav.main-navigation ul li a:hover {
    border-top: 0.2em solid #8c62a1;
    color: #fff;
  }
  #header nav.main-navigation ul li:hover > a, #header nav.main-navigation ul li.current-menu-item > a {
    border-top: 0.2em solid #8c62a1;
    background: #8c62a1;
  }
  #header nav.main-navigation ul li ul.sub-menu, #header nav.main-navigation ul li ul.children, #header nav.main-navigation ul li ul.cart_list {
    background-color: #8b61a0;
  }
  #header nav.main-navigation ul li ul.sub-menu li ul.sub-menu,
  #header nav.main-navigation ul li ul.children li ul.sub-menu,
  #header nav.main-navigation ul li ul.cart_list li ul.sub-menu,
  #header nav.main-navigation ul li ul.sub-menu li ul.children,
  #header nav.main-navigation ul li ul.children li ul.children,
  #header nav.main-navigation ul li ul.cart_list li ul.children {
    background-color: #8d63a2;
  }
  #header nav.main-navigation ul li ul.sub-menu li:first-child ul.sub-menu,
  #header nav.main-navigation ul li ul.children li:first-child ul.sub-menu,
  #header nav.main-navigation ul li ul.cart_list li:first-child ul.sub-menu,
  #header nav.main-navigation ul li ul.sub-menu li:first-child ul.children,
  #header nav.main-navigation ul li ul.children li:first-child ul.children,
  #header nav.main-navigation ul li ul.cart_list li:first-child ul.children {
    background-color: #8b61a0;
  }
  #header nav.main-navigation ul li ul.sub-menu li a, #header nav.main-navigation ul li ul.children li a, #header nav.main-navigation ul li ul.cart_list li a {
    background: none !important;
  }
  #header nav.main-navigation ul.mini-cart a {
    color: #fff !important;
  }
  #header nav.main-navigation ul.mini-cart li {
    /* The cart contents drop down */
  
  }
  #header nav.main-navigation ul.mini-cart li:last-child {
    border-left: 1px solid #6a407f;
    border-right: 1px solid #6a407f;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list {
    background-color: #8b61a0;
    /* The totals */
  
    /* The buttons */
  
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li {
    border-top: 1px solid #7b5190;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li.cart_list_product {
    background: #9167a6;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -o-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li.cart_list_product img {
    box-shadow: 0 0 2px 0 #481e5d;
    -webkit-box-shadow: 0 0 2px 0 #481e5d;
    -moz-box-shadow: 0 0 2px 0 #481e5d;
    -o-box-shadow: 0 0 2px 0 #481e5d;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li.total {
    border: 1px solid #7b5190;
    background: #8b61a0;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li.buttons {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -o-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li.buttons .button {
    color: #606060;
    background: #d0a6e5;
    background: -webkit-gradient(linear, left top, left bottom, from(#d0a6e5), to(#7b5190));
    background: -webkit-linear-gradient(#d0a6e5, #7b5190);
    background: -moz-linear-gradient(center top, #d0a6e5 0%, #7b5190 100%);
    background: -moz-gradient(center top, #d0a6e5 0%, #7b5190 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d0a6e5,endColorstr=#7b5190);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d0a6e5, endColorstr=#7b5190)";
    border: 1px solid #481e5d;
    box-shadow: 0 0 2px 0 #592f6e;
    -webkit-box-shadow: 0 0 2px 0 #592f6e;
    -moz-box-shadow: 0 0 2px 0 #592f6e;
    -o-box-shadow: 0 0 2px 0 #592f6e;
    color: #fff;
    text-shadow: 0 1px 0 #592f6e;
  }
}
.ie8 #header .main-nav, .ie7 #header .main-nav {
  background: #7b5190;
}
